{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
<div class="card">
    <div class="card-header">
        <h3>Заказ номер {{ order.id }}</h3>
    </div>
  
    <div class="card-body">
        <div class="order">Номер стола {{ order.table_number }}</div>
        <div>Список блюд:
            <ul class="item-list">
                {% for dish in order.items.all %}
                    <li>{{ dish.name }} цена {{ dish.price }}</li>
                {% endfor %}
            </ul>
        </div>
        <div>Общая стоимость: {{ order.total_price }}</div>
        <div>Статус: {{ order.get_status_display }}
            <a href="{% url 'orders:status_change' order.id %}" class="button button-blue">Изменить статус</a>
        </div>
    
        <p>
            <a href="{% url 'orders:edit_order' order.id %}" class="button button-green">Редактировать</a>
            <a href="{% url 'orders:delete_order' order.id %}" class="button button-red">Удалить заказ</a>
        </p>
    </div>
</div>
{% endblock %}